* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
	width: 100%;
	height: 100%
}

.container {
    display: flex;
}

body {
	width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

#body-home {
    background-image: url("../img/home-background.png");
	background-size: cover;
}

h1 {
    color: rgb(29, 29, 29);
}

h2 {
    display: flex;
    flex-direction: row;
    color:whitesmoke;
    font-weight: lighter;
}

#sair {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-size: medium;
}

#form {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.876);
    border-radius: 5px;
    box-shadow: 3px 3px 5px #5d2f02;
}

#usuario, #senha, #entrar {
    width: 200px;
    box-shadow: 1px 1px 3px #5d2f02;
    border-radius: 3px;
}

#usuario, #senha {
    border: 1px solid rgba(112, 59, 26, 0.35);
    height: 25px;
    padding: 10px;
}

input:focus {
    outline: none;
}

#entrar {
    border: none;
    background-color: #5d2f02;
    color: white;
    font-weight: bolder;
    height: 30px;
}

#entrar:hover {
    position: relative;
    bottom: 2px;
    background-color: #422101;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 95%;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    max-height: 50px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
}

/*TOGGLE SWITCH*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin: 10px 10px 0;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(38, 150, 126);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(38, 150, 126);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .div-slide {
    margin: 10px;
  }

  details {
    width: 280px;
    margin: 10px;
    border-radius: 5px;
    background-color: #77777731;
    box-shadow: 1px 1px 3px #3b3b3b;
    text-align: justify;
    padding: 10px;
    flex-grow: 1;
  }

  details:hover {
    position: relative;
    bottom: 3px;
  }

  details:not([open]) {
    height: 220px; 
}

  summary {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }

  summary::marker {
    display: none;
    color: transparent;
  }

  .div-livro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .img-exercicios {
    margin-top: 10px;
    height: 150px;
    width: 100px;
    box-shadow: 1px 1px 3px #3b3b3b;
    border-radius: 3px;
  }

  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
th, td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}